.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex__left {
  padding-right: 20px;
}

.flex__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.content {
  background-color: beige;
  padding: 10px;
}

.content__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.travel {
  background-color: beige;
}

.travel__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.travel__img {
  height: 200px;
  overflow: hidden;
}

.travel__img > img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}

.description {
  padding: 20px;
  background-color: beige;
}

.description__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  z-index: 0;
}

.description__img {
  height: 350px;
  -webkit-box-shadow: inset 0 0 30px black;
          box-shadow: inset 0 0 30px black;
}

.description__img > img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
  position: relative;
  z-index: -1;
}

.font-sm {
  font-size: 15px;
}

.font-md {
  font-size: 18px;
}

.font-lg {
  font-size: 21px;
}

.font-mlg, .description__title {
  font-size: 30px;
}

.mb-sm, .description__img {
  margin-bottom: 20px !important;
}

.mb-lg, .description__sub {
  margin-bottom: 60px !important;
}

.pb-sm {
  padding-bottom: 20px !important;
}

.pb-lg {
  padding-bottom: 60px !important;
}

.content-width, .content {
  width: 90%;
  margin: 0 auto;
  max-width: 1070px;
}

@media (min-width: 600px) {
  .title {
    letter-spacing: 3px;
  }
  .header {
    height: 100px;
    padding-top: 30px;
  }
  .btn {
    width: 300px !important;
  }
  .input {
    height: 50px;
    margin-top: 20px;
    padding-left: 5px;
  }
  .submit {
    margin-top: 20px;
    width: 200px;
    height: 50px;
  }
  .toggle-btn {
    height: 40px;
    width: 120px;
    border-radius: 5px;
    margin-right: 50px;
    margin-bottom: 10px;
    font-size: 14px;
    border: 1px solid black;
  }
  .content__inner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .content__item {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .travel__inner {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .travel__item {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
  }
  .travel__img {
    height: 370px;
  }
  .description__inner {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .description__texts, .description__img {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
  }
  .description__texts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .description__img {
    height: 400px;
  }
  .font-sm {
    font-size: 18px;
  }
  .font-md {
    font-size: 21px;
  }
  .font-lg {
    font-size: 24px;
  }
  .font-mlg, .description__title {
    font-size: 36px;
  }
  .mb-lg, .description__sub {
    margin-bottom: 90px !important;
  }
  .pb-lg {
    padding-bottom: 90px !important;
  }
}

body {
  font-family: 'Odibee Sans', cursive;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

#global-container {
  position: relative;
  z-index: 20;
}
/*# sourceMappingURL=style.css.map */