@import "breakpoints/base";

@media (min-width: 600px) {
  @import "breakpoints/600up";
}

body {
  font-family: 'Odibee Sans', cursive;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

#global-container {
  position: relative;
  z-index: 20;
}



