.header {
  height: 100px;
}

.title {
  letter-spacing: 2px;
}

.header {
  padding-top: 30px;
}

.hero {
  width: 100vw;
  &__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    letter-spacing: 2px;
  }
}

.btn {
  width: 300px;
}

.input {
  height: 50px;
  margin-top: 20px;
  padding-left: 5px;
}

.submit {
  margin-top: 20px;
  width: 200px;
  height: 50px;
}

.toggle-btn {
  height: 40px;
  width: 120px;
  border-radius: 5px;
  margin-right: 50px;
  margin-bottom: 10px;
  font-size: 14px;
  border: 1px solid black;
}