// Header
.title {
  letter-spacing: 3px;
}

.header {
  height: 100px;
  padding-top: 30px;
}

.header-right {
  &__nav {
    display: block !important;
  }
}

.menu-icon {
  display: none !important;
}

.btn {
  width: 300px !important;
}

.input {
  height: 50px;
  margin-top: 20px;
  padding-left: 5px;
}

.submit {
  margin-top: 20px;
  width: 200px;
  height: 50px;
}

.toggle-btn {
  height: 40px;
  width: 120px;
  border-radius: 5px;
  margin-right: 50px;
  margin-bottom: 10px;
  font-size: 14px;
  border: 1px solid black;
}

// FindTravel
.content {
  &__inner {
    flex-direction: row;
    flex-wrap: wrap;
  }
  &__item {
    flex-basis: 50%;
  }
}

// TravelPlan
.travel {
  &__inner {
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
  }
  &__item {
    flex-basis: 30%;
  }
  &__img {
    height: 370px;
  }
}

// Description
.description {
  &__inner {
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__texts,
  &__img {
    flex-basis: 45%;
  }

  &__texts {
    display: flex;
    align-items: center;
  }

  &__img {
    height: 400px;
  }
}

// ユーティリティクラス
.font-sm {
  font-size: 18px;
}

.font-md {
  font-size: 21px;
}

.font-lg {
  font-size: 24px;
}

.font-mlg {
  font-size: 36px;
}

.mb-lg {
  margin-bottom: 90px !important;
}

.pb-lg {
  padding-bottom: 90px !important; 
}
