$bgBeige: beige;

.flex {
  display: flex;
  justify-content: space-between;

  &__left {
    padding-right: 20px;
  }

  &__right {
    display: flex;
    flex-flow: column;
  }
}

// FindTravel
.content {
  @extend .content-width;
  background-color: $bgBeige;
  padding: 10px;

  &__inner {
    display: flex;
    flex-direction: column;
  }
}

// TravelPlan
.travel {
  background-color: $bgBeige;
  &__inner {
    display: flex;
    flex-direction: column;
  }

  &__img {
    height: 200px;
    overflow: hidden;
    & > img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }
}

// ユーティリティクラス
.font-sm {
  font-size: 15px;
}

.font-md {
  font-size: 18px;
}

.font-lg {
  font-size: 21px;
}

.mb-sm {
  margin-bottom: 20px !important;
}

.mb-lg {
  margin-bottom: 60px !important;
}

.pb-sm {
  padding-bottom: 20px !important; 
}

.pb-lg {
  padding-bottom: 60px !important; 
}

.content-width {
  width: 90%;
  margin: 0 auto;
  max-width: 1070px;
}


