.header {
  background-color: aquamarine;
  height: 60px;
}

.title {
  padding: 10px;
}

.header {
  padding-top: 10px;
}

.sec {
  text-align: center;
}

.hero {
  &__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $cWhite;
    font-size: 16px;
    letter-spacing: 1px;
    z-index: 10;
  }
}

.content {
  text-align: center;
  padding: 30px;
}

.btn {
  width: 200px;
  display: inline-block;
  border: 2px solid black;
  padding: 10px 40px;
  color: black;
  border-radius: 5px;
  font-weight: 600;
  margin-top: 20px;

  &.float:hover {
    transition: all 0.5s;
    background-color: aquamarine;
    color: black;
    text-decoration: none;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.3);
  }
}

.form {
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
}

.todos {
  &__lists {
    list-style: none;
  }
}

.list {
  margin-top: 10px;
  font-size: 18px;
}

.input {
  width: 70vw;
  height: 30px;
  margin: 10px auto;
  border: 1px solid black;
  border-radius: 5px;
  display: block;
}

.submit {
  border: 2px solid black;
  background-color: aquamarine;
  width: 40vw;
  border-radius: 5px;
  margin-left: 10px;
}

